- content_for :sidebar do
  %h2 About Me

  %p I'm a web developer and this is a practice blog.

- @posts.each do |post|
  .post-preview
    %h2= link_to(post.title, post)

    %p= post.body.truncate(75)